Options -Indexes
RewriteEngine On

# Skip rewriting if file or directory exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^sitemap/$ sitemap.php [L,QSA]

RewriteRule ^personal/$ UMR_Personalmanagement.pdf [L,QSA]

RewriteRule ^login$ privat/login.php [L,QSA]