body { 
  color : #000000; 
  background : #ffffff; 
  font-family : "Times New Roman", Times, serif;
  font-size : 12pt; 
}
a { 
  text-decoration : underline; 
  color : #0000ff;
  display: none;
} 

table
{
border: 1px solid #cccccc;
}

.boxed .title h2 {
display: none;
}

.boxed .content {
border: 1px solid #cccccc;
}

#content_header h1 {
margin-top: 25px;
}

#header, #header2, #menu, #footer, #sidebar, boxed , form{ 
  display : none; 
}

h4
{
display: block;
}

h1
{
text-align: right;
}